.main-container {
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw;
    min-width: 100%;
    height: 100%; */
  color: white;
  background-position: center;
  margin-top: 2rem;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-top: 5vmax;  */
  width: 100%;
  height: 110vh;
}
.hide {
  display: none;
}

.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gold {
  color: goldenrod;
  font-weight: 900;
  font-size: 9vmax;
}

.bigwhite {
  font-weight: 800;
  font-size: 4vmax;
}

.content-2 {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 800;
}
.idea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4vmax;
}
.torma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9vmax;
}
/* .content-1, .content-2 {
    
    transform: translateY(5vmax);
    transition: opacity 0.5s ease, transform 0.5s ease;
  } */
.appear-from-top {
  opacity: 1;
  transform: translateY(0);
}

.appear-from-bottom {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 950px) {
  .content-2 {
    margin: 120px 0;
    /* font-size: 70px; */
    font-weight: 800;
  }
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .content-n {
    flex-direction: column;
  }
}
@media (max-width: 460px) {
}

@media (max-width: 350px) {
}
