/* RegistrationForm.css */
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background: url('../../assets/colabackground.svg') no-repeat center center fixed;
    background-size: cover;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    flex-direction: column;
}

.registration-form {
    background: linear-gradient(180deg, rgba(201, 4, 53, 0.8) 0%, rgba(152, 8, 44, 0.8) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.registration-form h2 {
    margin-bottom: 20px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;

}

.registration-form input[type="file"] {
    padding: 3px;

}

.registration-form button {
    background: linear-gradient(180deg, #E1B52B 0%, #9F8122 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}

.registration-form button:hover {
    background: #e6b800;
}

.error {
    color: blue;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .registration-form {
        padding: 15px;
    }

    .registration-form input {
        padding: 8px;
    }

    .registration-form button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .registration-form {
        padding: 10px;

    }

    .registration-form input {
        padding: 6px;
    }

    .registration-form button {
        padding: 6px 12px;
    }
}
