.footer{
    background-color: var(---main-color);}
.footer-logo{
    display: flex;
    flex-direction: column ;
}
.mgt{
    width: 250px;
    margin-bottom: 10px;
}

.dig{
    width: 150px;
}
.footer-content{
    display: flex;
    padding: 20px 0;
    justify-content: space-between; 

}

.footer-info{
    display: block;
}
.footer-info h2{
    font-size: 24px;
    margin-bottom: 16px;
}

.numbers p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: copy;
}
#foot-num {
    font-size: 1.16rem ;
}
.numbers p:hover {
    text-decoration: underline;
}

.media-icons{
    margin-top: 20px;
    border-top: 5px solid white;
    padding-top: 15px;
    width: 100%;
}
.media-icons a{
    margin-right: 15px;
}
.media-icons a img{
    width: 50px;
}
.copy-message {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #B0CB1E;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 12px;

}
@media (min-width:1560px) {
    .footer-logo{
        display: flex;
        flex-direction: row;
    }
    .mgt{
        width: 320px;
    }
    .dig{
        width: 230px;
    }
    .footer-info h2{
        font-size: 1.2vmax;
        max-width: 500px;
    }
    .numbers p{
        font-size: 24px;
    }
    #foot-num {
        font-size: 22px ;
    }
}
@media (max-width: 1050px){
    .footer-info{
        width: 200px;
    }
    .footer-info h2{
        max-width: 300px;
    }
    .media-icons{
        width: fit-content;
    }
}
@media (max-width: 768px){
    .footer-info{
        width: 150px;
    }
    .footer-info h2{
        font-size: 18px;
    }
    .numbers p{
        font-size: 16px;

    }
    .media-icons a img{
        width: 35px;
    }
    #foot-num {
        font-size: 15px;
    }
}

@media (max-width:470px){
    .mgt{
        width: 140px;
    }
    .dig{
    width: 100px;
    }
    .footer-info h2{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .numbers p{
        font-size: 12px;

    }
    .media-icons{
        margin-top: 8px;
    }
    #foot-num {
        font-size: 11px;
    }
}
.main {
    max-width: 1900px ;
    margin: 0 auto;
}