.header{
    background-color: #B4002D;
    max-width: 1950px;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}
@media (max-width: 1500px) {
    .header-wrapper{
        padding: 2px 0;

    }
}
.container-header {
    background-color: #B4002D;

}
@media (max-width: 720px) {
    .conteiner{
        padding: 0 20px;

    }
    .header-logo img {
        width: 40px;
    }
    .header-item a {
        font-size: 14px !important;
    }
}
@media (max-width: 446px) {
    .conteiner{
        padding: 0 20px;

    }
    .header-logo img {
        width: 35px;
    }
    .header-item a {
        font-size: 11px !important;
    }

}
@media (max-width: 370px) {
    .conteiner{
        padding: 0 20px;

    }
    .header-logo img {
        width: 30px;
    }
    .header-item a {
        font-size: 9px ;
    }
}
.custom-tooltip{
    display: none;
}
.custom-tooltip{
    position: relative;
    display: none;
    cursor: pointer;

  }
  .custom-tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: #B4002D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    
    padding: 5px;
    position: absolute;
    right: 30%;
    z-index: 1;
    top: 100%;
    opacity: 0;
    transition: opacity 0.2s;
  }  .custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; 
  }
  .tooltiptext {
    display: flex;
    flex-direction: column;
}
.burger-item{

    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-decoration: none;

    border-radius: 89px;
    padding: 10px 15px;
    position: relative;
    font-weight: lighter;
    transition: all 0.5s ease;
    margin-top: 10px;
    font-weight: 500;
}

.header-list{
    display: flex;
    list-style-type: none;
}
.header-item div{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    display: inline-block;
}
.header-item{
    margin-left: 20px;
    display: inline-block;
        position: relative;

}
.header-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #d9d7d7;

    transition: all 0.4s ease, left 0.3s ease;
}

.header-item:hover::after {
    width: 100%;
    left: 0;
}

.header-item:hover {
color: #d9d7d7;
}


@media (max-width:768px) {

    .custom-tooltip{
        display: block;
    }
}
@media (max-width:570px) {
.header-item div{
    font-size: 12px;
}
    
}