

.title{
    text-align: center;
    padding: 93px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title span{

    font-size: 40px;
    font-weight: 700;
    /* line-height: 42.24px; */
    text-align: left;
}

.title .red_text{
    color: #B4002D;
    margin-left: 10px;
}


.redBlock{
    background-color: #B4002D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 41px 0;
}

.sanarip{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 42.24px;
    text-align: center;
}

.min{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 104px 0 73px;

}
.partner{
    transform: scale(0.7);
}

@media (max-width:768px) {

    .logos{
        justify-content: center;

        padding: 40px 0;
    }
    .partner{
        width: 45%;
    }
    .partner img{
        width: 100%;

    }
    .redBlock{
        padding: 20px 0;
    }
   
}

@media (max-width: 1420px) and (min-width: 768px) {
    .logos{

        align-items: center;
    }

    .partner img{
        width: 100%;
    }
    .partner{
        width: 18%;
    }

}
@media (max-width:500px){
    .redBlock img{
        width: 100px;
    }
    .min{
        font-size: 14px;
    }
    
}
@media (max-width:425px){
    .title span{
        font-size: 28px;
    }

}


