

.conditions{
    background: url("../../assets/image/conditions_img/camera.png") no-repeat;
    width: 100%;
    padding: 154px 0;
    background-size: cover;
    background-position: center;
}

.title{
    font-family: Montserrat;
    font-size: 33px;
    font-weight: 700;
    line-height: 51.2px;
    text-align: left;
    margin-top: 74px;
    margin-bottom: 62px;
}
.img{
    width: 30%;
}

.part{
    width: 70%;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 32.91px;
    text-align: left;
    text-indent: -27px;
    margin-left: 40px;


}

.button{
    margin-top: 53px;
    margin-left: 20px;
    padding: 20px 100px;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border-radius: 90px;
    border: #B4002D solid 10px;
    transition: 0.5s;
}

.button:hover{
    background-color: #B4002D;
}



@media (max-width:768px) {
  
    ._title_tfp8e_5 {
        padding-top: 60px;
    }
    .title{
        text-align: left;
    }
    .button{
        margin-top: 40px;

        padding: 13px 40px;
        color: white;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        background: none;
        border-radius: 50px;
        border: #B4002D solid 7px;
        transition: 0.5s;
    }
    .title{
        margin-top: 30px;
        margin-bottom: 30px;
        /* text-align: center; */
    }
    .conditions{
        padding: 50px 0;
    }
    .part{
        width: 100%;
        margin: 0;
        text-indent: 0;
        font-size: 15px;
        line-height: 20px;
    }
}