.banner{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 150px 0;
}
.banner-content button{
    padding: 20px 120px;
    width: fit-content;
    border: 10px #E4B72B solid;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
}
.tittle{
    margin-bottom: 350px;
}
.tittle h2{
    font-size: 48px;
    margin-bottom: -30px;
}
.tittle h1{
    font-size: 86px;
    font-family: "MuseoModerno", sans-serif;;
    color: #B4002D;
}

@media (max-width:768px){
    .tittle h1{
        font-size: 50px;
    }
    .tittle h2{
        font-size: 28px;
        margin-bottom: -25px;
    }
    .banner-content button{
        padding: 14px 100px;
        border: 5px #E4B72B solid;
    }
    .tittle{
        margin-bottom: 180px;
    }
}
@media (max-width:465px){
    .banner-content{
        padding: 80px 0;
    }
    .tittle h1{
        font-size: 38px;
    }
    .tittle h2{
        font-size: 22px;
        margin-bottom: -20px;
    }
}
@media (max-width:365px){
    .banner-content{
        padding: 80px 0;
    }
    .tittle h1{
        font-size: 32px;
    }
    .tittle h2{
        font-size: 20px;
        margin-bottom: -18px;
    }
    .banner-content button{
        padding: 12px 80px;

        border: 6px #E4B72B solid;
        border-radius: 90px;
        font-size: 14px;
        font-weight: 600;
    }
}